#
# Resource file for specifying tools for a MOE2-type build (use devtools 2.0).
#
# Remarks:
#   ac_XXX variables are intended as an intermediate resource for configure.
#   This is because autoconf is pretty particular about how it looks for non-
#   traditional programs (as opposed to the standard 'CC' and 'CXX').  In
#   order to detect and use the correct programs that support the toolchain
#   we want we have to do a little black magic in the configure script.  Sorry
#   about the extra warts.
#
#   ENVENERGY_DT_HOME, JAVA_HOME, and ANT_HOME are Envenergy-required
#   environment variables.
#
#   CC is the de-facto way to call out an alternate C compiler.
#

PYTHON_VER="2.5"
PYTHON_PREFIX="/opt/moe25/usr"
PYTHON_EXEC_PREFIX="${PYTHON_PREFIX}"
PYTHON_LIB="${PYTHON_EXEC_PREFIX}/lib/python${PYTHON_VER}"
PYTHON_INC="${PYTHON_EXEC_PREFIX}/include/python${PYTHON_VER}"
PYTHON="${PYTHON_EXEC_PREFIX}/bin/python${PYTHON_VER}"
PYTHONHOME="${PYTHON_PREFIX}:${PYTHON_EXEC_PREFIX}"
PYTHONPATH="@BUILD_DIR@"

ENVENERGY_DT_HOME="/opt/envenergy/devtools/sheeva"

INCLUDES="-I$(proot)"
INCLUDES="$INCLUDES -I/opt/moe25/usr/include"
INCLUDES="$INCLUDES -I${PYTHON_INC}"
INCLUDES="$INCLUDES -I/opt/riptide/devtools/libsmi-0.4.8/include"
INCLUDES="$INCLUDES -I/opt/envenergy/devtools/2.0/x86/linux-2.4.21/include"
INCLUDES="$INCLUDES -I$ENVENERGY_DT_HOME/arm-none-linux-gnueabi/libc/usr/include"

#PYTHON_MPX_PRELOAD="$ENVENERGY_DT_HOME/lib/libpam.so"
PYTHON_MPX_PRELOAD="/opt/moe25/lib/libpam.so"

PROCESSOR_FAMILY="arm"

CC="${ENVENERGY_DT_HOME}/bin/arm-none-linux-gnueabi-gcc"

CXX="${ENVENERGY_DT_HOME}/bin/arm-none-linux-gnueabi-g++"

LDFLAGS="-L/opt/moe25-sheeva/usr/lib"

ac_toolchain_dir="$ENVENERGY_DT_HOME/bin"
ac_AR="arm-none-linux-gnueabi-ar"
ac_LD="arm-none-linux-gnueabi-ld"
ac_NM="arm-none-linux-gnueabi-nm"
ac_M4="m4"
ac_RANLIB="arm-none-linux-gnueabi-ranlib"
ac_STRIP="arm-none-linux-gnueabi-strip"

AUTOMAKE="/opt/envenergy/devtools/3.0/bin/automake-1.7"
AUTOCONF="/opt/envenergy/devtools/3.0/bin/autoconf"
AUTOHEADER="/opt/envenergy/devtools/3.0/bin/autoheader"
ACLOCAL="/opt/envenergy/devtools/3.0/bin/aclocal-1.7"

#JAVA_HOME="/opt/envenergy/devtools/3.0/java/j2sdk1.4.1_02"
JAVA_HOME="/usr/lib/jvm/java-1.6.0"
JAVACMD="${JAVA_HOME}/bin/java"
ANT_HOME="/opt/envenergy/devtools/3.0/ant"

# Local Variables:
# mode:shell-script
# End: